__pycache__/
config/zsh/config/.zcompdump
config/zsh/config/.zsh_history
config/zsh/config/.zsh_plugins.zsh
config/tmux/config/plugins/tmux
config/tmux/config/plugins/tmux-battery
config/tmux/config/plugins/tmux-cpu
config/tmux/config/plugins/tmux-sensible
config/tmux/config/plugins/tpm
tmux-server*
tmux-client*